[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pathlib2" = "==2.3.3"
pylint = "==2.3.1"
tox = "==3.7.0"
astroid = "==2.2.5"
isort = "==4.3.15"
dastroid = "==2.2.5"
atomicwrites = "==1.3.0"
attrs = "==19.1.0"
dict_json = {git = "https://github.com/bkuehlhorn/serialize-access.git", editable = true, ref = "da4522152d52f80f4f8dd66dc24b48280f886c05"}
entrypoints = "==0.3"
filelock = "==3.0.10"
"flake8" = "==3.7.7"
hypothesis = "==4.11.7"
lazy-object-proxy = "==1.3.1"
mccabe = "==0.6.1"
more-itertools = "==6.0.0"
nose = "==1.3.7"
pluggy = "==0.9.0"
py = "==1.8.0"
pycodestyle = "==2.5.0"
pyflakes = "==2.1.1"
pytest = "==4.3.1"
pytest-assume = "==1.2.2"
six = "==1.12.0"
toml = "==0.10.0"
typed-ast = "==1.3.1"
virtualenv = "==16.4.3"
wrapt = "==1.11.1"

[dev-packages]
nose = "*"
"flake8" = "*"
pytest = "*"
hypothesis = "*"
yaml = "*"

[requires]
python_version = "3.7"
